
/*here is where you make your page all pretty and such*/

body{
  
background-color: yellowgreen;
    font-family: monospace;
}
p.Header {
  border: 5px solid greenyellow;
    margin: 10px;
    font-size: 65px;
}

ol {
  background: #77f05f;
  padding: 20px;
  margin: 5px;
}

ul {
  background: #9df040;
  padding: 20px;
}

ol li {
  background: #a9f31e;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #9dff2d;
  margin: 5px;
  padding: 5px;
}

/* website csstricks.com to help with tips and tricks on editing*/
/*and use your text book*/
